*.iml
.idea
**/swagger.json
**/document.html
out
target
.settings
.project
.classpath
**/dependency-reduced-pom.xml
.gradle/
adapters/endorphina/endorphina-api/build/
adapters/endorphina/endorphina-service/build/
adapters/endorphina/endorphina-transformer/build/
adapters/endorphina/endorphina-validator/build/
adapters/endorphina/endorphina-webapp/build/
engine-command-pattern/build/
engine/build/
adapters
classes
build
engine

